/* ------------- REDESIGN ------------- */
body {
  background-color: #2b3149;
  color: #f5f6f8;
}

.Headline {
  background-color: #592b51;
}

.Headline > button {
  color: #9389c3;
}

/* ------------- THE TITLE ------------- */

.CSTitle {
  margin-top: 15px;

  font-size: 4vmin;
  text-align: center;
  color: #f5f6f8;
}

.CSTitle > h2 {
  margin-top: 5px;
  font-size: 10vmin;
}

/* ------------- THE MAIN BODY ------------- */

.CS-Main {
  color: #f5f6f8;
  display: flex;

  line-height: 4vmin;
  font-size: 3vmin;
}

/* ------------- THE LEFT PANEL ------------- */

.left-panel {
  flex: 70%;
}

.block-info {
  border-bottom: 1px solid rgb(114, 114, 114);
  vertical-align: middle;

  padding: 5px;
}

.block-info > h2 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 5px;
}

.photo-text {
  display: flex;
  align-items: top;
  justify-content: center;

  padding-bottom: 1%;
  border-bottom: 1px solid rgb(114, 114, 114);
}

.photo-text > img {
  width: 35%;
  height: 35%;
}

.photo-text > img:hover {
  cursor: pointer;
}

.photo-text > p {
  margin: 1vmin;
  font-size: 1em;
}
/* ------------- THE RIGHT PANEL ------------- */

.right-panel,
.hidden-skill-tree {
  flex: 30%;

  text-align: center;
  border-left: 2px solid black;

  color: #f5f6f8;
  padding-bottom: 5vmin;
}

.right-panel > b,
.hidden-skill-tree > b {
  font-size: 3.5vmin;
}

.right-panel > h2,
.hidden-skill-tree > h2 {
  color: #9389c3;
  padding-bottom: 2vmin;
}

.hidden-skill-tree {
  display: none;

  border: none;
  border-bottom: 2px solid black;

  margin-bottom: 2vmin;
}

progress {
  width: 20vmin;

  accent-color: #9389c3;
}

.skills {
  width: 70vmin;
  margin: auto;

  display: table;
}

.skills > b {
  float: left;
  margin-left: 8vmin;
}

.skills > progress {
  float: right;
  margin-right: 8vmin;
  margin-top: 0.5vmin;
}
/* ------------- INTERACTIVE RIGHT PANEL ------------- */

/*
  This will make the right panel disappear if the width is too small.
  The panel should be accessible by a dropdown menu.
*/

.right-panel-dropdown {
  display: none;
}

.right-panel-dropdown > button {
  background-color: #9389c3;
  border: solid 2px transparent;
  border-radius: 15px;

  font-size: 2vmin;
  color: #fffefd;
  padding: 8px;
  margin: 1vmin 2.5vmin;

  position: relative;
  left: 48%;
  transform: translate(-48%);
  margin-top: 2vmin;
  padding: 1vmin 3vmin 1vmin 3vmin;

  transition: 0.5s;
}

.right-panel-dropdown > button:hover,
.right-panel-dropdown > button:active {
  transition: 0.5s;
  cursor: pointer;

  font-size: 3vmin;
  background-color: #9389c3;
  color: #dedede;
}

@media screen and (max-width: 1000px) {
  .right-panel {
    display: none;
  }

  .right-panel-dropdown {
    display: block;
  }

  .hidden-skill-tree {
    display: block;
  }
}
