/* ------------- THE TITLE ------------- */

.CSTitle {
  margin-top: 15px;

  font-size: 4vmin;
  text-align: center;
  color: #000000;
}

.CSTitle > h2 {
  margin-top: 5px;
  font-size: 10vmin;
}

/* ------------- THE MAIN BODY ------------- */

.CS-Main {
  color: black;
  display: flex;

  line-height: 4vmin;
  font-size: 3vmin;
}

/* ------------- THE LEFT PANEL ------------- */

.left-panel {
  flex: 70%;
}

.block-info {
  border-bottom: 1px solid rgb(114, 114, 114);
  vertical-align: middle;

  padding: 5px;
}

.block-info > h2 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 5px;
}

.photo-text {
  display: flex;
  align-items: top;
  justify-content: center;

  padding-bottom: 1%;
  border-bottom: 1px solid rgb(114, 114, 114);
}

.photo-text > img {
  width: 35%;
  height: 35%;
}

.photo-text > img:hover {
  cursor: pointer;
}

.photo-text > p {
  margin: 1vmin;
  font-size: 1em;
}
/* ------------- THE RIGHT PANEL ------------- */

.right-panel {
  flex: 30%;
  height: fit-content;

  text-align: center;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.right-panel > b {
  font-size: 3.5vmin;
}

.right-panel > h2 {
  color: #2341ff;
  padding-bottom: 1vmin;
  border-bottom: 2px solid #2341ff;
}
