/* ------------- The main stuff like the background ------------- */

body {
  background-color: #dbdbdb;
  align-content: center;
  color: #ffffff;

  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

/* The Header */

.Headline {
  width: 100%;
  background-color: #1b1b1b;
  margin: 0;

  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 0 0 35px 35px;

  text-align: center;
  line-height: 10px;
}

.Headline > button {
  font-size: 10vmin;

  color: #5a6ffb;
  background-color: transparent;
  border-color: transparent;
}

.Headline > button:hover {
  cursor: pointer;
}

/* ------------- The option between two main resumes ------------- */

.WhichResume {
  margin-top: 55px;

  font-size: 4vmin;
  text-align: center;
  color: #000000;
}

.choose-resume-buttons > button {
  background-color: #1b1b1b;
  border: solid 2px transparent;
  border-radius: 15px;

  font-size: 4vmin;
  color: #ffffff;
  padding: 8px;
  margin: 1vmin 2.5vmin;

  transition: 0.5s;
}

.choose-resume-buttons > button:hover,
.choose-resume-buttons > button:active {
  transition: 0.5s;
  cursor: pointer;

  font-size: 5vmin;
  background-color: #5a6ffb;
  color: #dedede;
}

/* ------------- ADDITIONAL INFORMATION ------------- */
/* ------------- CS ------------- */

.Additional-Info {
  width: 75vmin;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid #000000;

  padding: 0 1% 0 1%;
  text-align: center;
  list-style-position: outside;
}

.Additional-Info > ul {
  text-align: left;
}
