<div class="section reversed">
    <div class="photo-section">
        <div class="resources-used">
            <img src="./projects/Cubical Resources/GameMaker.webp" alt="Used GameMaker Studio" />
            <img src="./projects/Cubical Resources/JavaScript.webp" alt="Used JavaScript" />
            <img src="./projects/Cubical Resources/FL Studio.webp" alt="Used FL Studio" />
            <img src="./projects/Cubical Resources/GIMP.webp" alt="Used GIMP" />
        </div>
        <div class="photo">
            <img src="./projects/Cubical Resources/Cubical.webp" alt="Photo from the game" />
        </div>
    </div>
    <div class="text">
        <h2>Game Design & <b>Development</b></h2>
        <h1><b>Personal Project -</b> CUBICAL</h1>
        <p>
            The showcase of my <b>creativity</b> 
            and dedication not only in <b>game development</b>, 
            but the <b>graphical and sound design.</b> 
        </p>
        <div class="primarysecondary">
            <button 
            onclick = 'window.open("https://nicolaeus.itch.io/", "_blank")'
            class="secondary btn hover-animate shadow">
                Other Games
            </button>
            <button 
            onclick = 'window.open("https://nicolaeus.itch.io/cubical", "_blank")'
            class="primary btn hover-animate shadow">
                Visit Game Website
            </button>
        </div>
    </div>
</div>