<div class="section reversed">
    <div class="photo-section">
        <div class="resources-used">
            <img src="./projects/Iberieli Resources/Figma.webp" alt="Used Figma" />
            <img src="./projects/Iberieli Resources/JavaScript.webp" alt="Used JavaScript" />
            <img src="./projects/Iberieli Resources/CSS.webp" alt="Used CSS" />
            <img src="./projects/Iberieli Resources/HTML.webp" alt="Used HTML" />
        </div>
        <div class="photo cornered shadow">
            <img src="./projects/Iberieli Resources/Iberieli Logo.webp" alt="The official logo of Iberieli" />
        </div>
    </div>
    <div class="text">
        <h2>Web Design & <b>Development</b></h2>
        <h1><b>Iberieli's</b> Official Website</h1>
        <p>
            Collaborated with Iberieli Wine Cellar to personally 
            <b>design and develop</b> their brand new website from scratch.   
        </p>
        <div class="primarysecondary">
            <button
            onclick= openFigma_Iberieli()
            class="secondary btn hover-animate shadow">
            <script>
                function openFigma_Iberieli() {
                    window.open("https://www.figma.com/file/FodUlQroILrfaIsCe6ZVjd/Iberieli-Web-Design-v.1?type=design&node-id=0%3A1&mode=design&t=frFLfcITBAFrdmHt-1", "_blank");
                }
            </script>
                Figma Design
            </button>
            <button
            onclick = 'window.open("https://iberieli.com/", "_blank")'
            class="primary btn hover-animate shadow">
                Visit Website
            </button>
        </div>
    </div>
</div>