<div class="section">
    <div class="photo-section">
        <div class="resources-used">
            <img src="./projects/WEWE Resources/JavaScript.webp" alt="Used JavaScript" />
            <img src="./projects/WEWE Resources/NodeExpress.webp" alt="Used NodeJS & Express" />
            <img src="./projects/WEWE Resources/API.webp" alt="Used external APIs" />
            <img src="./projects/WEWE Resources/Figma.webp" alt="Used Figma for design" />
        </div>
        <div class="photo">
            <img src="./projects/WEWE Resources/WEWE.webp" alt="Photo from the website" />
        </div>
    </div>
    <div class="text">
        <h2>Web Development & <b>APIs</b></h2>
        <h1><b>Personal Project -</b> WEWE</h1>
        <p>
            Project made with <b>NodeJS and Express</b>
            to work with <b>APIs</b>. The design for this website
            was done again by using <b>Figma</b>.
        </p>
        <div class="primarysecondary">
            <button 
            onclick = 'window.open("https://www.figma.com/design/I6y9Of9ScYtW9xOQot8E1Q/WeWe?node-id=0-1&t=APSq8sCBLo9BWnzx-1", "_blank")'
            class="secondary btn hover-animate shadow">
                Figma Design
            </button>
            <button 
            onclick = 'window.open("https://wewe-g7w6.onrender.com/", "_blank")'
            class="primary btn hover-animate shadow">
                Visit Website
            </button>
        </div>
    </div>
</div>