    <footer>
        <h1><b>Check out</b> my socials</h1>
        <div class="socials">
            <img class="hover-animate" src="./socials/LinkedIN.webp" alt="LinkedIn logo" title="LinkedIn link"/>
            <img class="hover-animate" src="./socials/UpWork.webp" alt="UpWork logo" title="UpWork link"/>
            <img class="hover-animate" src="./socials/GitHub.webp" alt="GitHub logo" title="GitHub link"/>
        </div>
    </footer>
    </body>
</html>