    <footer>
        <h1><b>Check out</b> my socials</h1>
        <div class="socials">
            <img 
            onclick='window.open("https://www.linkedin.com/in/nikoloz-topuridze-258676270/", "_blank")'
            class="hover-animate" 
            src="./socials/LinkedIN.webp" 
            alt="LinkedIn logo" 
            title="LinkedIn link"/>
            <img 
            onclick='window.open("https://www.upwork.com/freelancers/~013d80c1983522a87c?mp_source=share", "_blank")'
            class="hover-animate" 
            src="./socials/UpWork.webp" 
            alt="UpWork logo" 
            title="UpWork link"/>
            <img 
            onclick='window.open("https://github.com/nikatopu/", "_blank")'
            class="hover-animate" 
            src="./socials/GitHub.webp" 
            alt="GitHub logo" 
            title="GitHub link"/>
        </div>
    </footer>
    </body>
</html>