<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4365/4365933.png">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Portfolio - Nikoloz Topuridze</title>
</head>
<body>
    <header id="header">
        <h1>Nika's Portfolio</h1>
        <div class="buttons">
            <button
            onclick = openFigma_portfolio()>
            <script>
                function openFigma_portfolio() {
                    window.open("https://www.figma.com/file/6epSNUS7R0rbtsGkNezBYt/Nika's-Portfolio?type=design&node-id=1%3A29&mode=design&t=RSqVrblQBadxecLB-1", "_blank");
                }
            </script>
                Figma
            </button>
            <button
            onclick="window.scrollTo(0, document.body.scrollHeight);">
                Socials
            </button>
            <button
            onclick = 'window.open("https://github.com/nikatopu/", "_blank")'>
                Projects
            </button>
        </div>
        <button class="dropdown" onclick="openDropdown()"><</button>
        <script>
            function openDropdown() {
                let dropdown = document.getElementById("dropdown");
                let body = document.getElementsByTagName("body");
                let is_open = dropdown.style.left === "100vw" ? false : true;
                if (is_open) {
                    dropdown.style.left = "100vw"
                    body[0].style.overflow = "scroll";
                } else {
                    dropdown.style.left = "0vw";
                    body[0].style.height = "100svh";
                    body[0].style.overflow = "hidden";
                }
            }
        </script>
    </header>

    <div id="dropdown" style="left: 100vw;">
        <button class="dropdown" onclick="openDropdown()">></button>
        <button
        onclick = openFigma_portfolio()>
        <script>
            function openFigma_portfolio() {
                window.open("https://www.figma.com/file/6epSNUS7R0rbtsGkNezBYt/Nika's-Portfolio?type=design&node-id=1%3A29&mode=design&t=RSqVrblQBadxecLB-1", "_blank");
            }
        </script>
            Figma
        </button>
        <button
        onclick="openDropdown(); window.scrollTo(0, document.body.scrollHeight);">
            Socials
        </button>
        <button
        onclick = 'window.open("https://github.com/nikatopu/", "_blank")'>
            Projects
        </button>
    </div>
    <script>
        let old_y = window.scrollY;
        let header = document.getElementById("header");
        window.onscroll = function(e) {
            let new_y = window.scrollY;
            if (old_y < new_y) {
                header.style.top = "-45px";
            } else {
                header.style.top = "0px";
            }
            old_y = window.scrollY;
        }
    </script>