/* ------------------------- Basics ------------------------- */
:root {
    --color-text: #071513;
    --color-shadow: #07151376;

    --color-background: #F7FCFC;
    --color-background-darker: #d6d8d8;

    --color-primary: #52C4C1;
    --color-secondary: #93C3DA;
    --color-accent: #749BD0;

    --color-shinyblue: #0094FF;
}

@import url('https://fonts.googleapis.com/css?family=Rufina:700|Rufi:400');

body {
    background-color: var(--color-background);
    font-family: 'Rufi';

    overflow-x: hidden;

    margin: 0px;
}

* {
    font-family: 'Rufi';
}

/* ------------------------- The header ------------------------- */

header {
    position: sticky;

    background-color: var(--color-background);
    transition-duration: 0.25s;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100svw;
    padding-left: 1svw;
    padding-right: 1svw;
    height: 44px;

    border-bottom: 1px solid var(--color-background-darker);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 25svw;
}

.buttons > button {
    background-color: transparent;
    border-color: transparent;

    font-size: 20px;

    transition-duration: 0.25s;
}

.buttons > button:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--color-accent);
    color: var(--color-accent);

    transform: scale(1.1) translateY(-1px);

    transition-duration: 0.25s;
}

/* ------------------------- Animate Styles ------------------------- */

.hover-animate {
    transition-duration: 0.25s;
}

.hover-animate:hover {
    transition-duration: 0.25s;
    transform: scale(1.075) translateY(-1svh);
}

.shadow {
    box-shadow: 0px 2px 15px var(--color-shadow);

}

/* ------------------------- Button Styles ------------------------- */

.btn {
    cursor: pointer;

    border-color: transparent;
    border-radius: 15px;
    
    width: 20svw;
    height: 9svh;

    font-size: 1.8svw;
}

.primary {
    background-color: var(--color-primary);
    font-weight: bold;
}

.secondary {
    background-color: var(--color-secondary);
}

.primarysecondary {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    width: 100%;
}

/* ------------------------- Section Styles ------------------------- */

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: 100svh;
}

.smaller-sect {
    height: calc(100svh - 44px);
}

.reversed {
    flex-direction: row-reverse;
}

/* ------------------------- Text Styles ------------------------- */

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    width: 50%;
    height: 50%;
}

.text > h1 > b,
.text > h2 > b {
    color: var(--color-accent);
}

.text > p > b {
    color: var(--color-accent);
}

.text > h2 {
    font-size: 7svh;
    margin: 0;
}

.text > h1 {
    font-size: 9svh;
    margin: 0;
}

.text > p {
    font-size: 5svh;
    margin: 8svh 0svh;

    width: 90%;
}

/* ------------------------- Photo Styles ------------------------- */

.photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo > img {
    height: 70svh;
}

.resources-used {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70svh;
}

.resources-used > img {
    width: 17svh;
}

.cornered {
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cornered > img {
    width: 100%;
    object-fit:contain; 
}

/* ------------------------- Footer Styles ------------------------- */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100svh;
    width: 100svw;
}

footer > h1 {
    font-size: 10svh;
}

footer > h1 > b {
    color: var(--color-accent);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 80%;
}

.socials > img {
    cursor: pointer;
    width: 20svw;
}






/* ------------------------- Responsivness ------------------------- */

@media screen and (min-width: 1200px) {
    .dropdown {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .dropdown {
        display: block;
    }

    .buttons {
        display: none;   
    }
}