<div class="section smaller-sect">
    <div class="photo">
        <img src="./my info/my img.webp" alt="A photo of Nikoloz Topuridze">
    </div>
    <div class="text">
        <h2>Nikoloz <b>Topuridze</b></h2>
        <h1><b>Junior</b> Web Developer</h1>
        <p>
            Proven professional experience in the field of 
            <b>web design and development</b>, with additional skills in <b>marketing and management.</b>
        </p>
        <div class="primarysecondary">
            <button class="secondary btn hover-animate shadow">Latest Project</button>
            <button class="primary btn hover-animate shadow">My Socials</button>
        </div>
    </div>
</div>