<div class="section">
    <div class="photo">
        <img src="./my info/my img.webp" alt="A photo of Nikoloz Topuridze">
    </div>
    <div class="text">
        <h2>Nikoloz <b>Topuridze</b></h2>
        <h1><b>Junior</b> Web Developer</h1>
        <p>
            Proven professional experience in the field of 
            web design and development, with additional skills in marketing and management.
        </p>
        <div class="primarysecondary">
            <button class="secondary">Latest Project</button>
            <button class="primary">My Socials</button>
        </div>
    </div>
</div>